.add-class-container {
  margin-top: 50px;
  padding: 0 10%;
  padding-bottom: 50px;
}

.form-container {
  width: 100%;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.input-border {
  border-color: #f45b69 !important;
}

.inputLabel {
  color: #f45b69 !important;
}

.label {
  color: #f45b69 !important;
}

.helper-text {
  text-transform: initial;
  font-size: 1rem !important;
  color: #f45b69 !important;
}

.myDatePicker fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #f45b69 !important;
}

.myDatePicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #f45b69 !important;
}
