.modal-container {
  padding: 10px;
}

.confirm-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f45b69;
}

.confirm-title {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 5px;
}
.close-button {
  color: #f45b69;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
}

.confirm-class-details-section {
  background-color: #faf9f6;
  margin-top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}

.confirm-class-name {
  color: #f45b69;
  font-weight: 700;
  text-transform: uppercase;
}

.icon {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.confirm-class-location {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.confirm-class-date {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.actions {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions-button {
  background-color: #f45b69;
  color: white;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 14px;
  font-weight: 500;
  transition: all 0.5s ease;
  width: 100px;
  margin-right: 20px;
}

.actions-button:hover {
  opacity: 0.4;
}

@media (max-width: 499px) {
  .actions {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 0; */
  }

  .actions-button {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .date-icon {
    margin-top: 3px;
  }

  .confirm-class-date {
    align-items: flex-start;
  }
}

@media screen and (max-width: 359px) {
  .actions-button {
    width: 90px;
  }
}

@media screen and (max-width: 347px) {
  .actions-button {
    width: 80px;
  }
}
