.slider-cnt {
  width: 90%;
  height: 50%;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: #f45b69 !important;
}

.slick-dots {
  color: #f45b69 !important;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -30px;
}

.card {
  /* border: 1px solid #f45b69; */
  overflow: hidden;
  height: 280px; /*suma card-bottom si image-cnt = 10px mai mica decat height la card*/
  width: 300px;
}

.card-bottom h1 {
  font-size: 1rem;
  color: #f45b69;
  /* margin: 10px; */
}
.card-bottom {
  height: 120px;
  /* margin-top: 10px; */
  /* margin: 10px 20px; */
  border-left: 5px solid #f45b69;
}

.image-cnt {
  width: 100%;
  height: 150px;
  /* padding-bottom: 10px; */
}

.image-cnt > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.class-description {
  /* margin-left: 10px; */
  font-size: 14px;
  text-align: center;
}

/* @media screen and (max-width: 990px) {   ///TO SEE
  .class-description {
    font-size: 15px;
  }
} */

@media screen and (max-width: 450px) {
  .slider-cnt {
    width: 70%;
  }

  .slider-cnt {
    margin-top: 20px;
  }
}
