.info-mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50vh;
  margin-top: 30px;
}

.wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
}

.fitness-img {
  max-width: 100%;
  height: auto;
  backdrop-filter: blur(2px);
  /* margin-left: 60px;
    margin-right: 0px; */
}
