.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  width: 50vh;
  height: 80vh;
  min-width: 100px;
  min-height: 80vh;
  overflow: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 20px; */
  padding-top: 20px;
  /* padding-right: 20px; */
  padding-bottom: 5px;
  width: 200px;
  /* width: 100%; */
  /* background-color: blue; */
  border-bottom: 0.5px solid red;
}

.login-title {
  font-size: 25px;
}

.close-button {
  color: #f45b69;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  /* padding-left: 20px; */
  /* padding: 20px; */
  /* width: 100%; */
  /* background-color: aqua; */
  /* min-width: 240px; */
}

.input-section {
  /* padding-left: 20px; */
  /* width: 100%; */
  /* width: 250px; */
  /* background-color: blueviolet; */
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.input {
  background-color: #d3d3d3;
  border: none;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  /* padding: 5px; */
}

.input-label {
  padding-bottom: 5px;
  font-size: 20px;
  /* padding-left: 4px; */
}

.error-message {
  font-size: 11px;
  color: red;
  padding-left: 5px;
  padding-top: 2px;
}

.signup-section {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}

.anchor {
  color: #f45b69;
  cursor: pointer;
}

.login-button {
  background-color: #f45b69;
  color: white;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: all 0.5s ease;
  width: 100px;
}

.login-button:hover {
  opacity: 0.4;
}
/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 820px) {
  .modal {
    height: 50vh;
    width: 40vh;
  }

  .form-section {
    padding-top: 10%;
  }

  .signup-section {
    padding-top: 15%;
    padding-bottom: 20px;
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .modal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .login-title-section {
    width: 300px;
  }

  .login-title {
    font-size: 30px;
  }
  .form-section {
    padding-top: 20%;
  }

  .input {
    width: 300px;
    height: 30px;
  }
  .signup-section {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 15px;
  }

  .login-button {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.5s ease;
    width: 200px;
  }
}
