.navbar {
  background-color: #f45b69;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 999;
}

.brand-logo {
  margin-left: 75px;
}

.logo {
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
}

.menu-items-desktop {
  margin-right: 75px;
  display: flex;
}

.menu-items-mobile {
  display: none;
  opacity: 0;
  z-index: 19;
}

.menu-item {
  list-style: none;
  padding: 10px;
  display: block;
}

.anchor {
  text-decoration: none;
  color: white;
}

.mobile-anchor {
  text-decoration: none;
  color: #f45b69;
}

.hide-menu-item {
  display: none;
}

.menu-item:hover {
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.5s ease;
}

.mobile-menu-button {
  display: none;
  list-style: none;
  padding: 10px;
}

.mobile-menu-button:hover {
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.5s ease;
}

@media screen and (max-width: 767px) {
  .mobile-menu-button {
    display: block;
    margin-right: 75px;
  }
  .menu-items-desktop {
    display: none;
  }

  .menu-items-mobile {
    position: absolute;
    height: 92vh;
    top: 60px;
    background-color: white;
    color: #f45b69;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin-left: 30%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    box-shadow: inset 1px 0 0 0 #d3d3d3;
  }

  .menu-item {
    margin-top: 5px;
    border-bottom: 0.5px solid #f45b69;
  }

  .anchor-mobile {
    text-decoration: none;
    color: #f45b69;
  }
}

@media screen and (max-width: 480px) {
  .mobile-menu-button {
    display: block;
    padding: 0px;
    margin-right: 10px;
  }
  .brand-logo {
    margin-left: 0px;
  }

  .menu-items-mobile {
    align-items: flex-start;
  }
  .menu-item {
    /* margin-left: auto;
    margin-right: 0; */
    border-bottom: 0.5px solid #f45b69;
  }
}
