.pricing .box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 10%;
  padding-bottom: 50px;
}

.pricing .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #f45b69;
  /* width: 70%; */
}

.subscription-facilities {
  padding-bottom: 20px;
  font-weight: 100;
}

.subscription-facility {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-subscription-button {
  background-color: #f45b69;
  color: white;
  padding: 12px;
  font-size: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.buy-subscription-button:hover {
  opacity: 0.4;
}
